*{
    margin: 0;
    padding: 0;
   
}

body {
    background-image: url(R.jfif);
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    margin: 0; /* Removes any default margin that might create spacing issues */
    padding: 0; /* Removes default padding */
}

/* NAV-SECTION */

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0%;
    text-decoration: none;
    
}

.navbar ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.navbar ul li{
    display: inline-block;
    padding: 20px;

}

.navbar{
    padding:20px;
    background-color: rgb(255, 255, 255);
    background: transparent;
}

.navbar ul{
    text-align: right;
}


/* MAIN BODY */

.wholeArticle{
    background-color: rgb(255, 0, 0);
    padding: 100px 302.5px 100px 302.5px;
    background-clip: content-box;
    background: transparent;
}

.wholeArticle h1{
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.wholeArticle h5{
    text-align: center;
    color: rgb(140, 140, 140);
    font-family: "Roboto", sans-serif;
    font-weight: 50;
    font-style: normal;
}

img{
    width: 500px;
    
}

.wholeArticle h4 {
    color: rgb(140, 140, 140);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.wholeArticle h3 {
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}



img{
    margin-left: 150px;
    width: 600px;
}

#habit-form label , input{
    margin: 20px;

}

#habit-form input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;

}