*{
    margin: 0;
    padding: 0;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0%;
    text-decoration: none;
    
}

.navbar ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-weight: bold;
}

.navbar ul li{
    display: inline-block;
    padding: 20px;

}

.navbar{
    padding:20px;
    background-color: rgb(255, 255, 255);
}

.navbar ul{
    margin-left: 1000px;
}